<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoMine.Properties.Settings>
            <setting name="InactivityTimeVALUE" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MinerLocationVALUE" serializeAs="String">
                <value>C:\xmr-stak\xmr-stak.exe</value>
            </setting>
            <setting name="StartWithWindowsVALUE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>xmr-stak.exe</value>
            </setting>
        </AutoMine.Properties.Settings>
    </userSettings>
</configuration>